html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background-color: unset;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #010203;
}

.title {
  font-size: 1.7em;
  vertical-align: middle;
  text-transform: capitalize;
}

.box {
  font-size: 1em;
  padding: 0 1em 0 1em;
  text-indent: 10px;
  height: 50px;
  border: 1.5px solid #C4C4C4;
  border-radius: 0.2em;
}
.box.submitbox {
  background-color: #9335ff;
  color: #FFFFFF;
  text-indent: 0;
  border: none;
  text-transform: capitalize;
}
.box.submitbox.warn {
  background-color: #FF5964;
  text-transform: capitalize;
}
.box::-moz-placeholder {
  font-size: 1em;
  text-transform: capitalize;
  color: #C4C4C4;
}
.box:-ms-input-placeholder {
  font-size: 1em;
  text-transform: capitalize;
  color: #C4C4C4;
}
.box::placeholder {
  font-size: 1em;
  text-transform: capitalize;
  color: #C4C4C4;
}
.box:focus {
  outline-width: 0;
}

.books {
  position: relative;
  padding: 1.5em 1em 1em 1em;
  margin: 0 auto 1em auto;
  border: 1px solid #C4C4C4;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .books {
    padding: 1em;
    margin: 0 auto 0.5em auto;
  }
}
.books h3 {
  font-size: 1.2em;
  vertical-align: middle;
  text-transform: capitalize;
}
@media screen and (min-width: 1440px) {
  .books h3 {
    font-size: 1.4em;
  }
}

.search {
  width: calc(90% - 2em);
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1440px) {
  .search {
    margin: 3em auto;
    width: 40%;
  }
}
.search .box {
  text-indent: 40px;
  width: 100%;
}
.search .bx-search {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
}
.search .searchResultContainer {
  width: 100%;
}
.search .searchResultContainer > .books > .buttonGroup > .box {
  text-indent: 0;
}

.middle {
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media screen and (min-width: 1440px) {
  .middle {
    margin: 5em auto;
    flex-direction: row;
    gap: 2em;
    width: 80%;
    justify-content: space-around;
  }
}
.middle .input {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .middle .input {
    width: 30%;
  }
}
.middle .notRead {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .middle .notRead {
    width: 35%;
  }
}
.middle .doneRead {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .middle .doneRead {
    width: 35%;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formGroup.editModal {
  width: 90vw;
}
@media screen and (min-width: 1440px) {
  .formGroup.editModal {
    width: 25vw;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}

.noResult {
  width: 100%;
  padding: 1em;
  border-radius: 0.2em;
  margin: 1em auto;
}

.modalPlaceholder {
  display: none;
}

.modalPlaceholder.active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7019607843);
  top: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delModal {
  background-color: #2F4858;
  color: #FFFFFF;
  border-radius: 0.2em;
  padding: 1.5em 2em;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media screen and (min-width: 1440px) {
  .delModal {
    width: 30vw;
  }
}
.delModal .buttonGroup {
  flex-direction: row;
}
.delModal .buttonGroup .box {
  width: 50%;
}

.edit {
  position: absolute;
  top: 1em;
  right: 1em;
}

.edit > img {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}/*# sourceMappingURL=style.css.map */

.footer{
    display: flex;
    padding-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
    flex-direction: column;
    row-gap: 1.5rem;
}